@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 200vh;
    overflow-x: hidden;
}

section{
    background-color: #222538;
    padding: 0px 200px;
    /* min-height: 100vh; */
    justify-content: center; font-family: "Poppins", serif;
    font-style: normal;
    overflow-x: hidden;
}
header{
    position: fixed;
    width: 100%;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    z-index: 100;
}
header div.menu-container{
    position: relative;
    /* background-color: #2E3351; */
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 20px #14182fda;
}
header div.menu-container .active-box{
    position: absolute;
    left: 0;
    width: 98px;
    height: 46px;
    background-color: #fff;
    border-radius: 10px;
    transition: .4s;
}
header div.menu-container a{
    position: relative;
    text-decoration: none;
    display: block;
    width: 98px;
    height: 46px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    overflow: hidden;
    transition: .2s;
    justify-content: center; font-family: "Poppins", serif;
    font-style: normal;
}
header div.menu-container a.active{
    color: #000;
}


section#home{
    background: url('bg.png');
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
section .home-main-content{
    position: relative;
    padding-top: 143px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section .home-main-content .text-area h3{
    font-size: 20px ;
    color: #e3efff;
    display: flex;
    align-items: center;
}
section .home-main-content .text-area h3 .activeUser{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 255, 0, 0.644);
    border-radius: 100px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.471), 0 0 10px rgba(0, 255, 0, 0.748);
}
section .home-main-content .text-area h3 .activeUser::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: rgb(0, 255, 0);
    border-radius: 100px;
}
section .home-main-content .text-area h1{
    font-size: 50px ;
    line-height: 63px;
    color: #8eb6ed;
}
section .home-main-content .text-area .downloadBtn{
    position: relative;
    top: 20px;
    padding: 12px 20px;
    background-color: #008fbe;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
}
.image-area{
    position: relative;
    width:450px;
    height: 500px;
    background: linear-gradient(transparent, #008ebe07,#008ebe0f,#008ebe15, #008fbe);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    cursor:none;
    /* backdrop-filter: blur(20px); */
}
.image-area .image{
    /* display: flex;
    justify-content: center; */
}
.image-area::after{
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    background: linear-gradient(transparent, #008ebe44, #008fbe);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.5;
}
.image-area .image img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    /* width: 500px; */
}

section#skills{
    display: flex;
    align-items: center;
}
section#skills .skills-container{
    margin-top: 76px;
    width: 100%;
}
section#skills .text-area{
    background-color: #2E3351;
    padding: 30px;
    border-radius: 15px;
    font-weight: 500;
    color: #6574cb;
    font-size: 15px;
}
section#skills .text-area h3{
    font-weight:400;
    line-height: 30px;
}
section#skills .text-area h3 span{
    font-weight:700;
}
section#skills .essentials-area{
    margin-top: 30px;
}
section#skills .essentials-area .heading{
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
section#skills .essentials-area .heading span{
    font-weight: 600;
    font-size: 30px;
}
section#skills .essentials-area .heading p{
    font-size: 15px;
    color:#6574cb;
}
section#skills .essentials-area .essentials-box{
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
}
section#skills .essentials-area .essentials-box .box{
    border: 2px solid #2E3351;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    color: #fff;
    cursor: pointer;
    transition: .2s;
}
section#skills .essentials-area .essentials-box .box:hover{
    background-color: #2E3351;
}
section#skills .essentials-area .essentials-box .box .icon{
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;
    /* background-color: #2E3351; */
}

section#services{
    display: flex;
    align-items: center;
    padding-top: 70px;
    /* justify-content: center; */
}
section#services .services-container{
    width: 100%;
}
section#services h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
}
section#services .cards-container{
    display: flex;
    /* justify-content: space-between; */
}
section#services .cards-container .card{
    width: 350px;
    height: 400px;
    background-color: #2E3351;
    margin: 0px 10px;
}

section#about{
    display: flex;
    align-items: center;
    padding-top: 70px;
}
section#about .about-container h1{
    font-size: 50px;
    color: #fff;
}
section#about .about-container h5{
    font-size: 20px;
    color: #6574cb;
}
section#about .about-container h5 span{
    color: #ffffff;
}
section#about .about-container .social-media-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
section#about .about-container .social-media-container span{
    color: #6574cb;
}
section#about .about-container .social-media-container a{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
section#about .about-container .social-media-container a img{
    width: 30px;
}
section#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}
section#contact .form-container{
    width: 100%;
}
section#contact .form-container .form-heading{
    font-size: 40px;
    margin-bottom: 30px;
    color: #fff;
}
section#contact form{
    display: flex;
    flex-direction: column;
}
section#contact form input{
    padding: 13px 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2E3351;
    justify-content: center; font-family: "Poppins", serif;
    font-style: normal;
    color: #fff;
}
section#contact form textarea{
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #2E3351;
    outline: none;
    border: none;
    padding: 13px 10px;
    height: 100px;
    max-width: 100%;
    justify-content: center; font-family: "Poppins", serif;
    font-style: normal;
    color: #fff;
}
section#contact form button{ 
    width: 200px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    height: 45px;
    border-radius: 5px;
    justify-content: center; font-family: "Poppins", serif;
    font-style: normal;
    font-size: 17px;
}


@media screen and (max-width: 1328px){
    section{
        padding: 10px 50px;
    }
    section .home-main-content {
        padding-top: 100px;
    }
}
@media screen and (max-width: 1019px){
    section{
        padding: 10px 20px;
    }
}
@media screen and (max-width: 952px){
    .image-area {
        width: 399px;
        height: 443px;
    }
    .image-area .image img {
        width: 399px;
    }
}
@media screen and (max-width: 935px){
    section#skills .essentials-area .essentials-box {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 885px){
    .image-area {
        width: 350px;
        height: 400px;
    }
    .image-area .image img {
        width: 100%;
    }
}
@media screen and (max-width: 719px){
    section#skills .text-area {
        padding: 15px;
    }
    section .home-main-content{
        flex-direction: column;
    }
    .image-area{
        width: 100%;
        margin-top: 49px;
    }
}
@media screen and (max-width: 518px){
    header {
        padding: 5px 0;
    }
    header div.menu-container{
        margin: 0 10px;
    }
    header div.menu-container a {
        font-size: 10px;
        height: 40px;
        border-radius: 7px;
    }
    header div.menu-container .active-box{
        height: 40px;
        border-radius: 7px;
    }
    section#skills .text-area {
        font-size: 13px;
    }
    section#skills .text-area h3 {
        line-height: 26px;
    }
    section#skills .skills-container {
        margin-top: 50px;
    }
    section#about .about-container h5 {
        font-size: 16px;
    }
    section#about .about-container h1 {
        font-size: 45px;
        color: #fff;
    }
    section .home-main-content .text-area h3 {
        font-size: 12px;
    }
}
@media screen and (max-width: 486px){
    section .home-main-content .text-area h1 {
        font-size: 36px;
        line-height: 45px;
    }
    section .home-main-content{
        align-items: flex-start;
    }
    section .home-main-content {
        padding-top: 80px;
    }
    section {
        padding: 10px 10px;
    }
    section#skills .skills-container {
        margin-top: 35px;
    }
}
@media screen and (max-width: 486px){
    section#skills .essentials-area .essentials-box .box {
        width: 100%;
    }
    section#services .cards-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section#services .cards-container .card {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 364px){
    section .home-main-content .text-area .downloadBtn {
        
        top: 12px;
        padding: 9px 13px;
        border-radius: 6px;
        font-size: 14px;
    }
}